/node_modules
/public/css
/public/fonts
/public/images
/public/js
/public/upload
/public/.htaccess
/public/favicon.ico
/public/index.php
/public/mix-manifest.json
/public/robots.txt
/public/web.config
/storage
/vendor
/tests
/.idea
.env
.env.example